.about-project {
  font-size: 22px;
  font-weight: 600;
  margin: 0.5rem 0;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .about-project {
    font-size: 18px;
    text-align: start;
  }
}
