.registration-container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .registration-container {
    flex-direction: column;
  }
}
