@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.app {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 20px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}
